<%= form_for @region, html: {class: "form-horizontal"} do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @region.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= "has-error" if @region.errors.any? %>">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Add Region", class: "btn btn-primary" %>
<% end %>
