<div id="notice"><%= notice %></div>

<%= link_to 'Add New Region', new_region_path, class: "btn btn-primary" %>
<% @regions.each do |region| %>
  <h3><%= region.name %> <%= link_to "Add Program", new_program_path(:region => region), class: "btn btn-primary btn-xs" %></h3>
  <div>
  </div>

  <% region.programs.each do |program| %>
    <div><%= link_to program.name, program %></div>
  <% end %>
</table>
<% end %>

<!-- 
<h1>Listing Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<br>


